.card {
  width: 250px;
  height: 350px;
  background: blanchedalmond;
  border-radius: 16px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 16px;
  transition: box-shadow 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg);
}

.card img {
  width: 100%;
  height: 65%;
  object-fit: fill;
}

.card-content {
  padding: 12px;
  text-align: center;
  color: black;
}

.card-content h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  color: black;
}

.glare {
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.25); /* 반투명 흰색 */
  border-radius: 50%;
  pointer-events: none;
  filter: blur(30px);
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity 0.15s ease;
}
